target/
**/target/
**/*.rs.bk
.idea/
.vscode/
*.iml
*.class
.gradle/
build/
.gradle/
.DS_Store
.env
.env.local
node_modules/
.pnpm-debug.log
coverage/
*.log
**/pkg/
**/dist/
**/*.apk
**/*.keystore
**/*.jks
